body{
    margin:0px;
    background:white;
}
#icons-phone
{   display:flex;
    background-color:rgba(0, 128, 255, 0.552);
    justify-content:space-between;
    padding-left:15px;
    padding-right:15px;
}
.fa
{   color:white;
    text-decoration:none;
    text-align:center;
}
#facebook,#instagram,#whatsapp,#linkdin{
    font-size:30px;
    margin-left:30px;
    align-items: center;
    padding-top:12px;
    padding-bottom:15px;
    padding-right:3px;
    padding-left:3px;
    transition-property:all;
    transition-duration: 0.5s;
}
#facebook:hover,#instagram:hover,#whatsapp:hover,#linkdin:hover{
    background-color:whitesmoke;
    color:rgba(0, 128, 255, 0.552);
}
#number{
    color:white;
    text-align:right;
    align-items: center;
    align-content:center;
}
#image-on-top
{   height:280px;
    width:100%;
}
#logo-at-nav
{   border-radius:50%;
    width:60px;
    height:60px;
    padding-top:-19px;
}
#navigation
{   background-color:white;
    display:flex;
    justify-content: space-between;
    height:65px;
    padding-top:10px;
    padding-left:10px;
    padding-right:110px;
    position:sticky;
    top:0px;
    z-index:3;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);;
}
#logos
{   display:flex;
}
#logo-text-nav
{   height:60px;
    width:200px;
}
#nav
{   display:flex;
    justify-content:space-evenly;
}
#button
{   width:170px;
    height:40px;
    margin-left:30px;
    margin-top:10px;
    background-color:rgb(0, 128, 255);
    border-radius:40px;
    border:none;
    cursor:pointer;
}
#buttonu
{   width:170px;
    height:40px;
    margin-left:-40px;
    margin-top:10px;
    background-color:rgba(0, 128, 255, 0.458);
    border-radius:40px;
    border:none;
    cursor:pointer;
}
#buttonu:hover
{   background-color:rgba(0,128,255);
}
#button.active
{   background-color:rgba(0, 128, 255)
}
#buttonu:hover+#button
{   background-color:rgba(0,128,255,0.458);
}
.bars
{   display:flex;
    color:gray;
    margin-right:30px;
    height:60%;
}
a{
    text-decoration:none;
}
#about,#expertise,#news,#contact,#conversation
{   cursor:pointer;
    text-decoration:none;
}
#about:hover,#expertise:hover,#news:hover,#contact:hover,#conversation:hover
{   border-bottom:9px;
    border-color:rgba(0,128,255,0.82);
    border-style:solid;
    border-top:0px;
    border-right:0px;
    border-left:0px;
}
.slideshow-container
{   margin-left:0px;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-left:0px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -22px;
  margin-right:1px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width:98.3%;
  height:90px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.822);
  line-height:35px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}